<div class="starter-template">
  <h1>Bootstrap starter template</h1>

  <input type="checkbox" [(ngModel)]="shouldShowDetails" [ngModelOptions]="{ standalone: true }" /> Show
  details

  <div *ngIf="!shouldShowDetails">
    <p class="lead">
      Use this document as a way to quickly start any new project.<br />
      All you get is this text and a mostly barebones HTML document.
    </p>
    <p>Dit is gewijzigd op {{ timeStamp | date }}</p>
  </div>
</div>
